
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/Server/sqlite3/storage.ide
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
*.ide
