
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/Server/sqlite3/storage.ide
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
*.ide
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/.suo
MusicRepoAndPlayer/.vs/MusicRepoAndPlayer/v15/Server/sqlite3/storage.ide
*.ide
*.ide-shm
*.ide-wal
MusicRepoAndPlayer/MusicRepoAndPlayer/obj/Release/MusicRepoAndPlayer.pdb
*.pdb
*.config
*.xml
